@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700&display=swap');

:root {
  --bg: #FFF7F0;
  --button-nav: #030303;
  --purple: #755CDE;
  --button-hero: #EB7565;
  --orange: #F6A560;
  --pinkie: #F39E9E;
  --bluemed: #61C4B7;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  
  font: {
    family: 'Plus Jakarta Sans', sans-serif;
    size: 18px;
    weight: 500;
  }
  
  line-height: 28px;
  background-color: var(--bg);
}

a {
  height: 56px;
  width: 228px;
  line-height: 56px;
  text-align: center;
  color: var(--bg);
  text-decoration: none;
  border-radius: 28px;
}

nav {
  margin: 34px 165px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    background-color: var(--button-nav);

    &:hover {
      background-color: var(--purple);
    }
  }

}

main {
  overflow-x: hidden;

  h1 {
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 70px;
  }

  p {
    padding: 0 26%;
    text-align: center;
  }

}

.grid-container {
  padding: 0 165px;
  height: 364px;
  display: grid;
  grid-template-areas:
    'graphic_design graphic_design ui_ux apps photography photography'
    'graphic_design graphic_design illustrations illustrations motion_graphics motion_graphics';
  .item1 {
    grid-area: graphic_design;
    background-color: var(--purple);
    border-radius: 8px;
  }
  .item2 {
    grid-area: ui_ux;
    background-color: var(--orange);
    border-radius: 8px;
  }
  .item3 {
    grid-area: apps;
    background-color: var(--pinkie);
    border-radius: 8px;
  }
  .item4 {
    grid-area: photography;
    background-color: var(--bluemed);
    border-radius: 8px;
  }
  .item5 {
    grid-area: illustrations;
    border-radius: 8px;
  }
  .item6 {
    grid-area: motion_graphics;
    border-radius: 8px;
  }
}










div.carousel {
  display: flex;
  justify-content: center;
}