@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700&display=swap");
:root {
  --bg: #FFF7F0;
  --button-nav: #030303;
  --purple: #755CDE;
  --button-hero: #EB7565;
  --orange: #F6A560;
  --pinkie: #F39E9E;
  --blue-med: #61C4B7;
  --dark-red: #552049;
  --medium-brown: #7A746E;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: var(--medium-brown);
  line-height: 28px;
  background-color: var(--bg);
}

a {
  height: 56px;
  width: 228px;
  line-height: 56px;
  text-align: center;
  color: var(--bg);
  text-decoration: none;
  border-radius: 28px;
}

nav {
  margin: 34px 165px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav a {
  background-color: var(--button-nav);
}
nav a:hover {
  background-color: var(--purple);
}

main {
  overflow-x: hidden;
}
main h1 {
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 70px;
  color: var(--button-nav);
}
main p.intro {
  padding: 0 26%;
  text-align: center;
}
main h2.carousel {
  font-size: 32px;
  line-height: 40px;
  color: var(--button-nav);
  text-align: center;
}
main div.prev-next {
  text-align: center;
}
main div.prev-next button {
  width: 64px;
  height: 64px;
  background-color: var(--button-nav);
  border-radius: 50%;
  border: none;
  cursor: pointer;
}
main div.prev-next button:hover {
  background-color: var(--purple);
}

.grid-container {
  padding: 0 165px;
  height: 364px;
  display: grid;
  grid-template-areas: "graphic_design graphic_design ui_ux apps photography photography" "graphic_design graphic_design illustrations illustrations motion_graphics motion_graphics";
  gap: 30px;
}
.grid-container .item {
  display: grid;
  grid-template-rows: 1fr auto;
  padding: 24px;
  border-radius: 8px;
}
.grid-container .item img {
  justify-self: end;
}
.grid-container .item h3 {
  color: var(--bg);
  font-size: 24px;
  font-weight: 500;
}
.grid-container .item1 {
  grid-area: graphic_design;
  background-color: var(--purple);
}
.grid-container .item2 {
  grid-area: ui_ux;
  background-color: var(--orange);
}
.grid-container .item3 {
  grid-area: apps;
  background-color: var(--pinkie);
}
.grid-container .item4 {
  grid-area: photography;
  background-color: var(--blue-med);
}
.grid-container .item5 {
  grid-area: illustrations;
  background-color: var(--button-hero);
}
.grid-container .item6 {
  grid-area: motion_graphics;
  background-color: var(--dark-red);
}

.hero-info {
  margin: 34px 165px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero-info .photo {
  width: 445px;
}
.hero-info .text {
  width: 50%;
}
.hero-info .text h2 {
  font-size: 40px;
  line-height: 51px;
  color: var(--button-nav);
}
.hero-info a {
  background-color: var(--button-hero);
  display: inline-block;
}
.hero-info a:hover {
  background-color: var(--orange);
}

div.carousel {
  display: flex;
  justify-content: center;
}/*# sourceMappingURL=styles.css.map */