@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700&display=swap');

:root {
  --bg: #FFF7F0;
  --button-nav: #030303;
  --purple: #755CDE;
  --button-hero: #EB7565;
  --orange: #F6A560;
  --pinkie: #F39E9E;
  --blue-med: #61C4B7;
  --dark-red: #552049;
  --medium-brown: #7A746E;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  
  font: {
    family: 'Plus Jakarta Sans', sans-serif;
    size: 18px;
    weight: 500;
  }
  
  color: var(--medium-brown);
  line-height: 28px;
  background-color: var(--bg);
}

a {
  height: 44px;
  width: 176px;
  line-height: 44px;
  text-align: center;
  color: var(--bg);
  text-decoration: none;
  border-radius: 28px;
}

nav {
  margin: 16px 16px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  img {
    width: 48px;
  }

  a {
    background-color: var(--button-nav);
    font-size: 14px;

    &:hover {
      background-color: var(--purple);
    }
  }

}

main {
  overflow-x: hidden;

  h1 {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.25em;
    color: var(--button-nav);
  }

  p.intro {
    margin: 16px 45px;
    text-align: center;
    font-size: 16px;
    line-height: 26px;
  }

  h2.carousel {
    font-size: 24px;
    font-weight: 700;
    color: var(--button-nav);
    text-align: center;
    margin-bottom: 32px;
  }

  div.carousel {
    display: flex;
    justify-content: center;
    column-gap: 15px;
    margin-bottom: 32px;

    img {
      border-radius: 10px;
      width: 270px;
    }
  }

  div.prev-next {
    text-align: center;
    
    button {
      width: 64px;
      height: 64px;
      background-color: var(--button-nav);
      border-radius: 50%;
      border: none;
      cursor: pointer;
      margin: 0 8px;

      &:hover {
        background-color: var(--purple);
      }
    }
  }

}

.grid-container {

  padding: 0 165px;
  height: 364px;
  display: grid;
  grid-template-areas:
    'graphic_design graphic_design ui_ux apps photography photography'
    'graphic_design graphic_design illustrations illustrations motion_graphics motion_graphics';
  gap: 30px;

  .item {
    display: grid;
    grid-template-rows: 1fr auto;
    padding: 24px;
    border-radius: 8px;
    
    img {
      justify-self: end;
    }

    h3 {
      color: var(--bg);
      font-size: 24px;
      font-weight: 500;
    }
  }

  .item1 {
    grid-area: graphic_design;
    background-color: var(--purple);
  }

  .item2 {
    grid-area: ui_ux;
    background-color: var(--orange);
  }

  .item3 {
    grid-area: apps;
    background-color: var(--pinkie);
  }

  .item4 {
    grid-area: photography;
    background-color: var(--blue-med);
  }

  .item5 {
    grid-area: illustrations;
    background-color: var(--button-hero);
  }

  .item6 {
    grid-area: motion_graphics;
    background-color: var(--dark-red);
  }
  
}

.hero-info {
  margin: 34px 165px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .photo {
    width: 445px;
  }

  .text {
    width: 50%;

    h2 {
      font-size: 40px;
      line-height: 51px;
      color: var(--button-nav);
    }
  }

  a {
    background-color: var(--button-hero);
    display: inline-block;

    &:hover {
      background-color: var(--orange);
    }
  }
}

.contact {
  display: flex;
  justify-content: space-between;
  align-items: center;

  min-height: 320px;
  background-color: var(--button-nav);
  border-radius: 10px;
  margin: 0 165px;
  padding: 0 65px;

  div {
    width: 55%;
  }

  h2 {
    font-size: 40px;
    line-height: 51px;
    color: var(--bg);
  }

  p {
    color: var(--bg);
  }

  a {
    background-color: var(--button-hero);
    display: inline-block;

    &:hover {
      background-color: var(--orange);
    }
  }
}

@media  screen and (min-width: 500px) {
  a {
    height: 56px;
    width: 228px;
    line-height: 56px;
  }

  nav {
    margin: 34px 39px 56px;
    img {
      width: initial;
    }
    a {
      font-size: initial;
    }
  }

  main {
    h1 {
      font-size: 44px;
      line-height: inherit;
    }
  
    p.intro {
      margin: 32px 12%;
      font-size: inherit;
      line-height: inherit;
    }
  
    h2.carousel {
      font-size: 32px;
      line-height: 40px;
      color: var(--button-nav);
      text-align: center;
    }
  
    div.carousel {
      column-gap: 30px;

      img {
        width: 540px;
      }
    }
  }
}

@media screen and (min-width: 900px) {
  nav {
    margin: 34px 165px 68px;
  }

  main {
    h1 {
      font-size: 56px;
      line-height: 70px;
    }
  
    p.intro {
      margin: 32px 25%;
    }
  
    h2.carousel {
      font-size: 32px;
      line-height: 40px;
      color: var(--button-nav);
      text-align: center;
    }
  
    div.prev-next {
      text-align: center;
      
      button {
        width: 64px;
        height: 64px;
        background-color: var(--button-nav);
        border-radius: 50%;
        border: none;
        cursor: pointer;
  
        &:hover {
          background-color: var(--purple);
        }
      }
    }
  
  }
}